// Headings
.markdown-preview-view {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--text-normal);
		font-weight: 500;
	}
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2.3rem;
	}
	h3 {
		font-size: 2.1rem;
	}
	h4 {
		font-size: 1.9rem;
	}
	h5 {
		font-size: 1.6rem;
	}
	h6 {
		font-size: 1.3rem;
	}
}
