.modal.mod-settings {
	width: 90vw;
	max-width: 1200px;
}

.modal-bg {
	backdrop-filter: blur(3px);
}

// Hide plugins icons
.workspace-ribbon {
	display: none;
}

// Fade inactive sidebar panes
.workspace-leaf {
	border: none;

	&.mod-active {
		border: none;
	}

	&.mod-active .view-header {
		border: none;
	}
}

/*
 * Files & Folders
 */
.nav-header {
	padding: 0.5em;

	.nav-buttons-container {
		justify-content: flex-end;
		gap: 0.5em;
	}

	.nav-action-button {
		padding: 0;
		margin: 0;

		svg {
			width: 14px;
			height: 14px;
		}
	}
}
.nav-folder {
	// Hide the root folder name
	&.mod-root {
		& > .nav-folder-title {
			display: none;
		}
	}

	.nav-folder-title {
		font-weight: bold;
	}
}
.nav-file {
	&.has-focus {
		border: none !important;
	}
	.nav-file-title.is-active {
		background: var(--background-secondary-alt);
		border-radius: none;
	}
}

/*
 * Settings
*/
.setting-item {
	button {
		transition: background 200ms;
		border-radius: 8px;
		font-weight: bold;
		font-size: 0.75em;

		&.mod-cta {
			background: linear-gradient(to left, orange, darkorange);
			&:hover {
				background: linear-gradient(darkorange, darkorange);
			}
		}
	}
}
