.markdown-preview-view {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 500;
	}
}

.HyperMD-header-1,
.markdown-preview-view h1 {
	font-size: 3.2rem;
}

/* 	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 1.8rem;
	}
	h5 {
		font-size: 1.5rem;
	}
	h6 {
		font-size: 1.2rem;
	}
} */

/*
 * Links
 */
.markdown-source-view {
	a.internal-link {
		color: var(--text-accent);

		&:hover {
			color: var(--text-accent-hover);
		}
	}

	span.cm-hmd-internal-link {
		border-bottom: 2px solid transparent;
		transition: all 200ms;
		&:hover {
			color: var(--text-accent-hover);
			text-decoration: none;
			border-bottom-color: var(--text-accent-hover);
		}
		span.cm-underline {
			text-decoration: none;
		}
	}
}
